<div ui-content-for="title">
    口腔问卷调查
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <h3>请根据儿童年龄选择相应的问卷</h3>
        </div>

        <div class="list-group">
            <div class="list-group-item" ng-click="goToChild()">
                3~5岁儿童家长问卷
            </div>
            <div class="list-group-item" ng-click="goToStudent()">
                12~15岁学生问卷
            </div>
            <div class="list-group-item" ng-click="goToAdult()">
                成人问卷
            </div>
            <div class="list-group-item" ng-click="goToDemo()">
                demo
            </div>
        </div>
    </div>
</div>